.col-md-12.col-sm-12.col-xs-12.margin-bottom--30px.padding-bottom--30px(ng-show="archivePDF", style="border-bottom: 1px solid #e1e1e1;")
    .col-md-12.col-sm-12.col-xs-12.margin-bottom--10px
        span.col-md-2.col-sm-6.col-xs-6.top-selection.float-right.text-align--right(ng-click="archivePDF=false", style="padding-right: 0px !important;")
            label.btn.btn-default.btn-circle
                i.fa.fa-times
        span.col-md-2.col-sm-6.col-xs-6.top-selection
            button.btn(pdf-save-button="patientArchive" pdf-name="{{dpatient.ID}}__{{dpatient.Name.firstName}}_{{dpatient.Name.lastName}}.pdf")
                i.fa.fa-print
            span.top-selection--inner  Print

    .col-md-12.col-sm-12.col-xs-12(pdf-save-content="patientArchive", name="patientArchivePDF")
        .col-md-12.col-sm-12.col-xs-12.pdf-header
            span.montserrat(style="font-weight: 700 !important;") code19 
            span.montserrat(style="font-weight: lighter !important;color: #F44336 !important;") | Inward
        h4.col-md-12.col-sm-12.col-xs-12.pdf-name 
            | {{dpatient.Name.firstName}} {{dpatient.Name.lastName}} &nbsp;&nbsp;
            i.fa(ng-class="(dpatient.Sex == 'Male') ? 'fa-mars' : ((dpatient.Sex == 'Female') ? 'fa-venus' : '')")
        span.col-md-3.col-sm-12.col-xs-12.pdf-span-sm
            b BHT : &nbsp;
            | {{dpatient.Inward.bhtNumber}}
        span.col-md-2.col-sm-12.col-xs-12.pdf-span-sm
            b Ward : &nbsp;
            | {{dpatient.Inward.wardNumber}}
        span.col-md-2.col-sm-12.col-xs-12.pdf-span-sm
            b Bed : &nbsp;
            | {{dpatient.Inward.bedNumber}}
        span.col-md-5.col-sm-12.col-xs-12.pdf-span-sm
            b Admitted : &nbsp;
            | &nbsp; {{dpatient.Inward.admittedDateTime | date:'yyyy-MM-dd HH:mm:ss Z'}}
        .col-md-12.col-sm-12.col-xs-12.no_padding.margin-top--20px
            h4.col-md-12.col-sm-12.col-xs-12.archive-heading.no_padding
                | Personal
            span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b First name : &nbsp;
                | {{dpatient.Name.firstName}}
            span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Last name : &nbsp;
                | {{dpatient.Name.lastName}}
            span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b D.O.B : &nbsp;
                | {{dpatient.DOB}}
            span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Married Status : &nbsp;
                | {{dpatient.MarriedStatus}}
            span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Employement Status : &nbsp;
                | {{dpatient.EmployementStatus}}
            span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Address : &nbsp;
                | {{dpatient.ContactInfo.Address.AddressLine}} {{dpatient.ContactInfo.Address.Zip}} {{dpatient.ContactInfo.Address.City}} {{dpatient.ContactInfo.Address.Country}}
            span.col-md-3.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Mobile : &nbsp;
                | {{dpatient.ContactInfo.Phone.Mobile}}
            span.col-md-3.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Home : &nbsp;
                | {{dpatient.ContactInfo.Phone.Home}}
            span.col-md-3.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Office : &nbsp;
                | {{dpatient.ContactInfo.Phone.Office}}
        .col-md-12.col-sm-12.col-xs-12.no_padding.margin-top--20px
            .col-md-12.col-sm-12.col-xs-12.no_padding(ng-if="dpatient.allergies.length > 0")
                h4.col-md-12.col-sm-12.col-xs-12.archive-heading.no_padding
                    | Allergies
                .col-md-12.col-sm-12.col-xs-12.no_padding(ng-repeat="allergy in dpatient.allergies")
                    span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                        b {{allergy.name}} : &nbsp;
                        | {{allergy.remarks}} | {{allergy.status}}
            h4.col-md-12.col-sm-12.col-xs-12.archive-heading.no_padding
            | Inward Admissions
            .col-md-12.col-sm-12.col-xs-12.no_padding(ng-repeat="history in dpatient.Inward.history")
                span.col-md-3.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    b BHT : &nbsp;
                    | {{history.bhtNumber}}
                span.col-md-2.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    b Ward : &nbsp;
                    | {{history.wardNumber}}
                span.col-md-2.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    b Bed : &nbsp;
                    | {{history.bedNumber}}
                span.col-md-5.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    b Admitted : &nbsp;
                    | &nbsp; {{history.admittedDateTime | date:'yyyy-MM-dd HH:mm:ss Z'}}
                span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    b Disease : &nbsp;
                    | &nbsp; {{history.disease.diseaseType}} : {{history.disease.explanation}}
                span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    b Transfer
                    | &nbsp; {{history.transfer.transferType}} | {{history.transfer.date}}
                span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    | Reason : &nbsp;
                    | &nbsp; {{history.transfer.reason}}
                span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    | Remarks : &nbsp;
                    | &nbsp; {{history.transfer.remarks}}
                span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    | Treatment : &nbsp;
                    | &nbsp; {{history.transfer.treatmentSuggested}}
                span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    b Discharge
                    | &nbsp; {{history.discharge.bool}} | {{history.discharge.date}}
                span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    | Outcomes : &nbsp;
                    | &nbsp; {{history.discharge.outcomes}}
                span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    | Remarks : &nbsp;
                    | &nbsp; {{history.discharge.remarks}}
                span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                    | Diagnosis : &nbsp;
                    | &nbsp; {{history.discharge.diagnosis}}
        .col-md-12.col-sm-12.col-xs-12.no_padding.margin-top--20px
            h4.col-md-12.col-sm-12.col-xs-12.archive-heading.no_padding
                | Guardian
            span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b First name : &nbsp;
                | {{dpatient.ResponsibleParty.firstName}}
            span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Last name : &nbsp;
                | {{dpatient.ResponsibleParty.lastName}}
            span.col-md-4.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Age : &nbsp;
                | {{dpatient.ResponsibleParty.Age}}
            span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Married Status : &nbsp;
                | {{dpatient.ResponsibleParty.MarriedStatus}}
            span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Employement Status : &nbsp;
                | {{dpatient.ResponsibleParty.EmployementStatus}}
            span.col-md-12.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Address : &nbsp;
                | {{dpatient.ResponsibleParty.ContactInfo.Address.AddressLine}} {{dpatient.ResponsibleParty.ContactInfo.Address.Zip}} {{dpatient.ResponsibleParty.ContactInfo.Address.City}} {{dpatient.ResponsibleParty.ContactInfo.Address.Country}}
            span.col-md-3.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Mobile : &nbsp;
                | {{dpatient.ResponsibleParty.ContactInfo.Phone.Mobile}}
            span.col-md-3.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Home : &nbsp;
                | {{dpatient.ResponsibleParty.ContactInfo.Phone.Home}}
            span.col-md-3.col-sm-12.col-xs-12.pdf-span-sm.padding-bottom--5px
                b Office : &nbsp;
                | {{dpatient.ResponsibleParty.ContactInfo.Phone.Office}}